<p><%= "こんにちは、#{@user.name}さん。" %></p>
<p>ご利用ありがとうございます。<br>
以下の内容で、ShortcutPlusへのユーザー登録が完了しました。</p>
<p>メールアドレスとパスワードはログインに必要な情報です。<br>
忘れないように大切に保管してください。</p>
<p>=================<br>
あなたのメールアドレス：<br>
<%= @user.email %><br>
あなたのパスワード：<br>
（登録時にご入力いただいたもの）<br>
=================</p>
