<p>---------------------------------------<br>
ユーザー登録確認<br>
---------------------------------------</p>
<p>ご利用ありがとうございます。<br>
ShortcutPlusの登録を完了するには、<b>24時間以内</b>に下記へアクセスしてメールアドレスを認証してください。</p>
<p><%= @url %></p>
<p>※このメールにお心当たりのない場合、他の方が間違ってメールアドレスを入力した可能性があります。上記のURLをクリックしないでください。</p>