.border-top.py-3
  - if comment.user.avatar.attached?
    = image_tag comment.user.avatar.variant(resize_to_fill: [20, 20]).processed, class: %i[rounded-circle bg-white border mr-2]
  = comment.user.name
  = comment.created_at
  p = comment.content
  / .border.border-primary.rounded.px-2.py-1
  .d-flex.justify-content-end.mr-5
    - if current_user&.liked_comment?(comment)
      = link_to comment_like_path(comment), method: :delete do
        | ★Like
        span.pl-1
          = CommentLike.where(comment_id: comment.id).count
    - elsif current_user
      = link_to comment_likes_path(comment_id: comment.id), method: :post do
        | ☆Like
        span.pl-1
          = CommentLike.where(comment_id: comment.id).count
    - else
      p.mb-0
        | ☆Like
        span.pl-1
          = CommentLike.where(comment_id: comment.id).count