= form_with model: [@recipe, @comment], data: { remote: true } do |f|
  = f.rich_text_area :content, id: 'js-comment-form-content', label: false
  #comment-error
  = f.submit 'コメント投稿', class: %w[btn btn-primary my-4]
