= link_to comment_like_path(comment), method: :delete, id: "js-like-button-for-comment-#{comment.id}", class: %w[dislike-btn comment-footer-text], remote: true do
  i.fas.fa-thumbs-up.fa-lg
  span.pl-2
    = CommentLike.where(comment_id: comment.id).count
