= link_to comment_likes_path(comment_id: comment.id), method: :post, id: "js-like-button-for-comment-#{comment.id}", class: %w[like-btn comment-footer-text], remote: true do
  i.fas.fa-thumbs-up.fa-lg
  span.pl-2
    = CommentLike.where(comment_id: comment.id).count
