= link_to recipe_like_path(@recipe), method: :delete, id: "js-like-button-for-recipe-#{@recipe.id}", class: %w[dislike-btn], remote: true do
  i.fas.fa-thumbs-up.fa-lg
  span.pl-2
    = @recipe_likes_count