= link_to recipe_likes_path(recipe_id: @recipe.id), method: :post, id: "js-like-button-for-recipe-#{@recipe.id}", class: %i[border border-primary rounded px-2 py-1], remote: true do
  | ☆Like
  span.pl-1
    = @recipe_likes_count