= link_to recipe_likes_path(recipe_id: @recipe.id), method: :post, id: "js-like-button-for-recipe-#{@recipe.id}", class: %w[like-btn], remote: true do
  i.fas.fa-thumbs-up.fa-lg
  span.pl-2
    = @recipe_likes_count