@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'jquery.tagit';
@import 'tagit.ui-zendesk';
@import 'validationEngine.jquery.scss';
@import '../../assets/stylesheets/recipes.scss';
@import '../../assets/stylesheets/notifications.scss';

.pagination {
  justify-content: center;
}

input .invalid { // バリデーションNGの場合に枠線を赤色に変更
  border: #ea352d 1px solid;
}

.invalidError { // submit時にエラーの場合のエラーメッセージ
  width: 100%;
	position:relative;
	color: #ea352d;
	font-weight: bold;
	min-width: 120px;
  font-size: 14px;
  padding: 4px 10px 4px 10px;
}
