// 未読ありの通知バッジ
.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #efa04c;
}

// 通知モーダル内のAction Textのレイアウトを変更
.notification-content {
  color: #666;
  font-size: 0.9em;
}

// 通知モーダル内の通知概要のレイアウトを変更
.notification-text {
  font-weight: bold;
  color: #C96;
}
