// tag-itのオートコンプリート用のヘルプメッセージを非表示にする
.ui-helper-hidden-accessible {
  display: none;
}

.recipe-description-category {
  font-size: 0.9em;
}

.recipe-description-title {
  color: #2538AA;
}

.recipe-description-content {
  color: #666;
  font-size: 0.9em;
}

.box-title-1 {
  padding-bottom: 10px;

  & h5 {
    font-weight: bold;
  }
}

.border-solid {
  border-bottom: 5px solid #555;
}

.box-title-2 {
  padding-bottom: 15px;
  font-weight: bold;
}

.border-dotted {
  border-bottom: 1px dotted #CCC;
}

.category-list:hover {
  text-decoration: none;
}

.category-list-item {
  padding-left: 8px;
  padding-right: 8px;
  
  &:hover {
    padding-left: 13px;
    opacity: 0.5;
    transition-duration: 0.15s;
  }
}

.tag {
  padding: 4px 8px;
  font-size: 0.8em;
  border-radius: 45px;
  background-color: #EEE;

  &:hover {
    background-color: #DDD;
    text-decoration: none;
  }
}

.tag-icon {
  color: #888;
  margin-right: 2px;
}

.my-recipes-tab {
  color: #678;
  border: none;

  &:hover {
    background-color: #DDD;
    color: #567;
  }
}

.nav-pills .nav-item .nav-link {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #A0A9BF;
  
  &.active {
    color: #FFF;
    background-color: #4BB0FF;
    font-weight: bold;
    border-bottom: 3px solid #2692D8;
  }
}

.my-recipes-icon {
  color: #2538AA;
}

.my-recipes-icon-text {
  color: #2538AA;
  font-size: 0.7em;
}

#no-comment-text {
  font-size: 0.9em;
}


.comment-header-text, .comment-footer-text {
  font-size: 0.9em;
}

.comment-icon {
  color: #2538AA;
  cursor: pointer;
}

.recipe-download-btn {
  background-color: #F04E71;
  
  &:hover {
    background-color: #DD3259;
  }
}

// いいねボタンのデザイン
.like-btn {
  color: #888;

  &:hover {
    color: #666;
    text-decoration: none;
  }
}

.dislike-btn {
  color: #2538AA;
  
  &:hover {
    color: #2538AA;
    text-decoration: none;
  }
}

.guest-like-btn {
  color: #888;
}

// ツイートボタンのデザイン
.twitter-btn {
  color: #888;

  &:hover {
    color: #00ACEE;
  }
}