input[type="file"] {
  display: none;
}

.avatar-select {
  color: #384878;
  border: 1px solid #384878;
  
  &:hover {
    color: #ffffff;
    background-color: #384878;
  }
}

.settings-avatar {
  display: flex;
  justify-content: center;
}

.settings-list-text {
  padding-left: 33px;
}

.btn-user-edit {
  color: #D93060;
  border: 1px solid #D93060;

  &:hover {
    color: #FFF;
    background-color: #D93060;
  }
}

.user-destroy {
  color: #555;
}

.btn-user-destroy {
  color: #FFF;
  background-color: #FF1100;
  border-radius: 0;

  &:hover {
    color: #FFF;
    opacity: 0.7;
  }
}
